

.error {
    margin-left: 3em;
    color: yellow;
}

.required {
    background-color: red;
    padding-left: 0.4em;
}

.form_message {
    border: solid blue 1px;
    background-color: lightblue;
    color: black;
    padding: 0.5em;
    text-align: center;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}

