

/* XXX grid styles should merge upstream */

.ui-grid {
    height: auto;
}

.ui-grid-content {
    vertical-align: top;
    overflow: auto;
}

.ui-grid-footer {
    /* Hmm, these are needed too. */
    line-height: 1.8em;
    height: 1.8em;
}

.ui-grid-footer-text {
    display: inline-block;
    vertical-align: top;
    float: left;
    padding: 2px;
    margin: 2px;
}

.ui-grid-pagination {
    display: inline-block;
    vertical-align: top;
    /* This height sets it for all. */
    height: 1.8em;
    float: right;
    padding: 2px;
    margin: 2px 2px 4px 2px;
}

.ui-grid-pagination a,
.ui-grid-pagination a:hover,
.ui-grid-pagination span {
    display: inline-block;
    position: relative; /* XXX important for Safari */
    top: 0;
    vertical-align: top;
    height: 100%;
    margin: 0 1px;
    padding: 0 0.2em;
    text-decoration: none;
}
.ui-grid-pagination span {
    cursor: default;
}
.ui-grid-pagination a.ui-grid-pagination-icon,
.ui-grid-pagination a.ui-grid-pagination-icon:hover,
.ui-grid-pagination span.ui-grid-pagination-icon {
    padding: 0;
    width: 16px;
}
.ui-grid-pagination .ui-icon {
    position: absolute;
    margin-top: -8px;  /* half of the icon height (16px) */
    top: 50%;
    left: 0;
}
.ui-grid-pagination a.ui-state-hover .ui-icon {
    margin-top: -9px;
}
.ui-grid-pagination a.ui-grid-pagination-icon,
.ui-grid-pagination a.ui-grid-pagination-icon:hover,
.ui-grid-pagination span.ui-grid-pagination-icon {
    padding: 0;
    width: 16px;
}
/* IE: Need to set the width 2px wider then the icon width (16px) */
/* Holly Hack targets IE Win only \*/
* html .ui-grid-pagination a.ui-grid-pagination-icon,
* html .ui-grid-pagination a.ui-grid-pagination-icon:hover,
* html .ui-grid-pagination span.ui-grid-pagination-icon {
    width: 18px;
}
/* End Holly Hack */



.ui-grid-column {
    overflow: hidden;
    cursor: pointer;
    height: 23px;
}

.ui-grid-column div {
    padding: 0 3px 0;
    height: 16px;
    overflow: hidden;
}

.ui-grid-column-sort-left {
    border-left: 1px solid red !important;
}

.ui-grid-column-sort-right {
    border-right: 1px solid red !important;
}

/* ------------------------- */

/* no horizontal bars between columns */
.ui-grid-column,
.ui-grid-row-hover .ui-grid-column,
.ui-grid-row-selected .ui-grid-column {
    border-top: 0; 
    border-left: 0; 
    border-right: 0; 
    //XXpadding-top: 1px; 
    padding-left: 2px; 
    padding-right: 2px; 
}

/* alternate row coloring */
.ui-grid-row.even .ui-grid-column {
    background: #fbf9ee url(/static/jquery-ui/grid/themes/base/images/fbf9ee_40x100_textures_02_glass_55.png) 0 50% repeat-x;
}
/* override selections on top of alternate colors,
 * and this time also apply correct absolute url. */
.ui-grid-row-hover td {
    background: #e6e6e6 url(/static/jquery-ui/grid/themes/base/images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x !important;
}
.ui-grid-row-selected td {
    background: #dadada url(/static/jquery-ui/grid/themes/base/images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x !important;
}



/* visual sorting indicators */

.ui-grid-column-header {
    cursor: pointer;
}

/*.ui-grid-column-header div {*/
.ui-grid-column-header a {
    display: inline-block;
    overflow: hidden;
    margin: 3px;
}

.ui-grid-column-header .ui-grid-visual-sorting-indicator {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    right: 8px;

}
.ui-grid-column-header .ui-grid-column-header-text {
    padding-right: 19px;   /* 16px + 3px */
}


